# How I solved the SQL Murder Mystery

## Context
There's been a Murder in SQL City! The SQL Murder Mystery is designed to be both a self-directed lesson to learn SQL concepts and commands and a fun game for experienced SQL users to solve an intriguing crime.
https://mystery.knightlab.com/

A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a ​murder​ that occurred sometime on ​Jan.15, 2018​ and that it took place in ​SQL City​. Start by retrieving the corresponding crime scene report from the police department’s database.
(Code written on 21 October 2021)

### 1. Looking at the murder Information

In [ ]:
SELECT *
FROM crime_scene_report
WHERE date = 20180115
  AND city = 'SQL City'
  AND TYPE = 'murder'

### 2. Looking at the information of the first witness

In [ ]:
SELECT *
FROM person
WHERE address_street_name = 'Northwestern Dr'
GROUP BY id,
         name,
         license_id,
         address_number,
         address_street_name,
         ssn
HAVING address_number =
  (SELECT max(address_number)
   FROM person
   WHERE address_street_name = 'Northwestern Dr')

### 3. Looking at the information of the second witness

In [ ]:
SELECT *
FROM person
WHERE address_street_name = 'Franklin Ave'
  AND name LIKE 'Annabel%'

### 4. Looking at the interview statements of the witnesses

In [ ]:
SELECT *
FROM interview
WHERE person_id = 14887
  OR person_id = 16371

### 5. Check when Annabal was at the gym

In [ ]:
SELECT *
FROM get_fit_now_member m
INNER JOIN get_fit_now_check_in c ON m.id = c.membership_id
WHERE person_id = 16371

### 6. Finding the killer

In [ ]:
SELECT *
FROM get_fit_now_member m
INNER JOIN get_fit_now_check_in c ON m.id = c.membership_id
WHERE ID LIKE '48Z%'
  AND membership_status = 'gold'
  AND (check_in_time BETWEEN 1600 AND 1700
       OR check_out_time BETWEEN 1600 AND 1700)
  AND person_id IN
    (SELECT person.id
     FROM drivers_license
     INNER JOIN person ON drivers_license.id = person.license_id
     WHERE plate_number LIKE '%H42W%')

Congrats, you found the murderer! But wait, there's more... If you think you're up for a challenge, try querying the interview transcript of the murderer to find the real villain behind this crime. If you feel especially confident in your SQL skills, try to complete this final step with no more than 2 queries. Use this same INSERT statement with your new suspect to check your answer.

### 7. Interview Statement

In [ ]:
SELECT * FROM interview
WHERE person_id = 67318

### 8. Finding the real villain

In [ ]:
SELECT *
FROM
  (SELECT person_id,
          count(*) AS amount
   FROM facebook_event_checkin
   WHERE event_name = 'SQL Symphony Concert'
     AND date LIKE '201712%'
   GROUP BY person_id
   HAVING amount = 3) a
INNER JOIN person p ON p.id = a.person_id
WHERE person_id IN
    (SELECT p.id
     FROM drivers_license l
     JOIN person p ON p.license_id = l.id
     WHERE car_model = 'Model S'
       AND car_make = 'Tesla'
       AND hair_color = 'red'
       AND gender = 'female')

Congrats, you found the brains behind the murder! Everyone in SQL City hails you as the greatest SQL detective of all time. Time to break out the champagne!